@using Abc.MvcWebUI.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>


    <script>
        $(function () {
            $("#datepicker").datepicker({
                showButtonPanel: true
            });
        });
        $(function () {
            $("#datepicker2").datepicker({
                showButtonPanel: true
            });
        });
    </script>
</head>
<body>


    <div class="jumbotron">
        <div class="container">
            <div class="hero-wrap" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text justify-content-start align-items-center">
                        <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-end">
                            <div class="text">
                                <h1 class="mb-4">Now <span>It's easy for you</span> <span>rent a car</span></h1>
                                <p style="font-size: 18px;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</p>
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="ion-ios-play"></span>
                                </div>
                                <div class="heading-title ml-5">
                                    <span>Easy steps for renting a car</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col"></div>
                        <div class="col-lg-4 col-md-6 mt-0 mt-md-5 d-flex">
                            @using (Html.BeginForm("List", "Home"))
                            {
                            <form action="#" class="request-form ftco-animate">
                                <h2>Make your trip</h2>
                                <div class="form-group">
                                    <label for="" class="label">Pick-up location</label>
                                    <input type="text" name="city1" class="form-control" placeholder="City, Airport, Station, etc">
                                </div>

                                <div class="form-group">
                                    <label for="" class="label">Pick-up location</label>
                                    <input type="text" name="city2" class="form-control" placeholder="City, Airport, Station, etc">
                                </div>

                                <div class="d-flex">
                                    <div class="form-group mr-2">
                                        <label for="" class="label">Pick-up date</label>
                                        <input type="text" name="tarih1" class="form-control" id="datepicker" placeholder="Date">
                                    </div>
                                    <div class="form-group mr-2">
                                        <label for="" class="label">Pick-up date</label>
                                        <input type="text" name="tarih2" class="form-control" id="datepicker2" placeholder="Date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="label">Pick-up time</label>
                                    <input type="text" class="form-control" id="time_pick" placeholder="Time">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Search Vehicle" class="btn btn-primary py-3 px-4">
                                </div>
                            </form>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
